/* font-family: 'Montserrat', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Special Elite', cursive; */

@font-face{
    font-family: 'Hand Crafted';
    src: url('./HandCrafted-axy0a.ttf');
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #F2A900;
    color: #111519
}

.custom-jumobotron {
    font-family: 'Hand Crafted', cursive;
    padding: 10px;
    margin-bottom: 16px;
    height: 140px;
    display: flex;
    align-content: center;
    justify-content: center;
    background: #DA291C;
    color:#FEFEED;
}

.header{
    font-size:82px;
}

#burger-submit{
    font-size: 16px;
    margin: 8px;
    background: #DA291C;
    color:#FEFEED
}

#burger-submit:hover {
    background:#C71609;
}

.burger-title h2{
    font-size: 40px;
    font-weight: bolder;
}

.burger {
    margin:8px;
}

.burgerName {
    margin-right:8px;
}

.burger-container {
    width: 60%;
}

p {
    margin: 0px;
}

.burger-input-container {
    margin-bottom: 2rem;
}

.burger-input-text {
    margin: 8px 0;
}

.burger-input-text input {
    display: inline;
    width: 80%;
}

.devourBtn, .deleteBtn {
    background-color: #0033A0;
    color:#FEFEED;
}